@import "../../app/variables.module.scss";
@import "../../app/mixin";

.pagination {
  padding-top: 40px;
  padding-bottom: 40px;

  &__lists {
    list-style: none;

    display: flex;
    gap: 5px;
  }

  &__link {
    width: 42px;
    height: 42px;

    border-radius: 50%;
    border: 1px solid $border-color;

    background-color: $background-color-light;
    color: $white;

    display: flex;
    align-items: center;
    justify-content: center;

    @include hover {
      border: 1px solid $blue;
      box-shadow: $shadow;
      cursor: pointer;
    }
  }

  &__image-left {
    background-image: url(../../images/arrow-left.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px 20px;
  }

  &__image-right {
    background-image: url(../../images/arrow-right.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px 20px;
  }

  &__link_type_active {
    border: 1px solid $blue;
    box-shadow: $shadow;
  }
}
