@import "../../app/variables.module.scss";
@import "../../app/mixin";

.post__content {
  &_text {
    padding: 10px 0px;

    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: $text-color;
  }

  &_image {
    padding: 20px 0px;

    width: 100%;
  }

  &_header_h2 {
    padding: 20px 0px 10px 0px;

    font-size: 32px;
    font-weight: 500;
    line-height: 44px;
    color: $title-posts-color;
  }
}
