@import "../../app/variables.module.scss";
@import "../../app/mixin";

.postscard {
  max-width: 560px;

  display: flex;

  @include media-767 {
    max-width: 290px;
    min-height: 260px;

    flex-direction: column;
  }

  &__image {
    object-fit: cover;
    border-radius: 10px;

    @include media-767 {
      width: 290px;
    }
  }

  &__info {
    padding-left: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include media-767 {
      padding-left: 0px;
    }
  }

  &__title {
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    color: $title-posts-color;

    @include media-767 {
      padding-top: 20px;
    }
  }

  &__description {
    padding-top: 10px;

    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
    color: $white;
  }

  &__times {
    padding-top: 10px;

    display: flex;
    justify-content: space-between;
  }

  &__time {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: $grey;
    display: flex;
  }

  &__timeread-icon {
    padding-right: 4px;
  }
}

.link {
  &_color {
    @include hover {
      color: $blue;
    }
  }
}