@import "../../app/variables.module.scss";
@import "../../app/mixin";

.skills {
  padding-top: 128px;

  @include media-1439 {
    padding-top: 64px;
  }
}

.skills__container {
  max-width: 1664px;
  margin-left: auto;
  margin-right: auto;
  background-color: $background-element-color;

  border: 1px solid $border-color;
  border-radius: 30px;

  display: flex;
  flex-direction: column;

  @include media-1679 {
    max-width: 1280px;
  }

  @include media-1439 {
    max-width: 768px;
  }

  @include media-1023 {
    max-width: 680px;
  }

  @include media-767 {
    max-width: 290px;
  }
}

.skills__title {
  width: 367px;
  height: 104px;
  margin: 30px 30px 30px auto;

  border: 4px solid $light-blue;
  border-radius: 0px 40px;
  background-color: $background-color;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 64px;
  font-weight: 400;
  line-height: 72px;
  color: $white;

  @include media-1439 {
    margin: 30px 30px 64px auto;
  }

    @include media-767 {
    width: 224px;
    height: 68px;

    margin-bottom: 32px;

    font-size: 32px;
    line-height: 36px;
  }
}

.skills__techs-list {
  margin: 0px 30px 30px 30px;

  list-style: none;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @include media-767 {
    margin: 0px 10px 10px 10px;
  }
}

.skills__tech {
  width: 360px;
  padding: 10px;

  background-color: $background-color;

  border: 1px solid $border-color;
  border-radius: 16px;

  display: flex;
  flex-direction: column;
  align-items: center;

  @include nth-child(5) {
    margin-top: 53px;
  }

  @include media-1679 {
    @include nth-child(4) {
      margin-top: 53px;
    }

    @include nth-child(3) {
      margin-top: 25px;
    }
  }

  @include media-1439 {
    width: 300px;
  }

  
  @include media-767 {
    width: 268px;
    
    @include nth-child(2) {
      margin-top: 20px;
    }
  }
}

.skills__header {
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  color: $light-blue;

  @include media-1023 {
    font-weight: 400;
    line-height: 36px;
  }
}

.skills__description {
  padding-top: 15px;

  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  color: $white;

  @include media-1023 {
    font-size: 16px;
    font-weight: 300;
    line-height: 18px;
  }
}
