@import "../../app/variables.module.scss";
@import "../../app/mixin";

.social {
  display: flex;
  align-items: center;

  list-style: none;

  @include media-1439 {
    margin-top: 64px;
  }
}

.social__links:nth-child(even) {
  padding-left: 32px;
  padding-right: 32px;
}

.social__link {
  display: flex;

  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: $white;

  @include hover {
    color: $light-blue;
  }

  @include media-767 {
    font-size: 16px;
    font-weight: 300;
    line-height: 18px;
  }
}

.social__description {
  padding-left: 8px;
}

.social_position_footer {
  margin-top: 0;

  @include media-767 {
    margin-top: 30px;
  }
}
