$background-color: #0f172a;
$background-color-light: #111c36;
$background-element-color: #131c31;
$title-posts-color: #b9e0f2;
$text-gradient: linear-gradient(90deg, #0ea5ea, #12f7d6 51%, #0ea5ea);
$shadow: 0 3px 20px rgba(11, 209, 209, 0.2);
$border-color: #222f43;
$blue: #0ea5ea;
$light-blue: #1cc2e7;
$grey: #43454d;
$white: #ffffff;
$aqamarin: #12f7d6;
$black: #000000;
$text-color: #94a9c9;