@import "../../app/variables.module.scss";
@import "../../app/mixin";

.contact {
  min-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 128px;
  background-color: $background-element-color;

  border: 1px solid $border-color;
  border-radius: 30px;

  display: flex;
  justify-content: space-between;

  @include media-1439 {
    min-width: 768px;

    margin-top: 64px;
  }

  @include media-1023 {
    min-width: 620px;
  }

  @include media-767 {
    min-width: 290px;
    min-height: 100%;
  }

  &__container {
    margin: 30px;
    width: 100%;

    display: flex;
    flex-direction: column;

    @include media-767 {
      margin: 10px;

      align-items: center;
    }
  }

  &__title {
    width: 300px;
    height: 84px;
    margin-bottom: 64px;

    border: 4px solid $light-blue;
    border-radius: 40px 0px;
    background-color: $background-color;

    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 400;
    font-size: 45px;
    line-height: 61px;
    color: $white;

    @include media-767 {
      width: 224px;
      height: 68px;

      margin-bottom: 32px;

      font-size: 32px;
      line-height: 36px;
    }
  }

  &__form {
    max-width: 1120px;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;

    border-radius: 40px;
    border: 1px solid $border-color;

    background-color: $background-color;

    display: flex;
    flex-direction: column;
    align-items: center;

    @include media-1439 {
      max-width: 708px;
    }

    @include media-1023 {
      max-width: 620px;
    }

    @include media-767 {
      max-width: 268px;

      padding: 10px;
    }
  }

  &__inputs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include media-767 {
      padding-top: 20px;

      flex-direction: column;
      justify-content: center;
    }
  }

  &__form-field {
    display: flex;
    flex-direction: column;

    @include nth-child(3) {
      padding-top: 64px;

      @include media-1439 {
        padding-top: 32px;
      }
    }

    @include nth-child(2) {
      @include media-767 {
        padding-top: 32px;
      }
    }
  }

  &__text {
    padding-bottom: 14px;

    font-size: 16px;
    font-weight: 300;
    line-height: 18px;
    @include text-gradient;
  }

  &__input {
    min-width: 496px;
    height: 22px;
    padding-bottom: 4px;

    background-color: transparent;

    border: none;
    border-bottom: 2px solid $blue;

    color: $white;

    @include media-1439 {
      min-width: 264px;
    }

    @include media-1023 {
      min-width: 135px;
    }

    @include media-767 {
      min-width: 246px;
    }
  }

  &__input:focus {
    padding: 5px;

    outline: none;
    border: 1px solid $blue;
    border-radius: 8px;
  }

  &__input_type_message {
    min-width: 1058px;

    @include media-1439 {
      min-width: 646px;
    }

    @include media-1023 {
      min-width: 558px;
    }

    @include media-767 {
      min-width: 246px;
    }
  }

  &__button {
    margin-top: 64px;

    width: 234px;
    height: 56px;

    background-color: $light-blue;

    border: none;
    border-radius: 32px;

    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: $black;

    display: flex;
    align-items: center;
    justify-content: center;
    @include hover {
      opacity: 0.8;
      cursor: pointer;
    }

    @include media-767 {
      margin-top: 32px;
    }
  }

  &__icon {
    padding-left: 4px;
  }
}
