@import "../../app/variables.module.scss";

.header {
  min-width: 100%;
  min-height: 170px;

  background-color: $background-color;
}

.header__content {
  margin: 0px auto;
  max-width: 1664px;
  min-height: 170px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  border-bottom: 1px solid $border-color;
}
