@import "../../app/variables.module.scss";
@import "../../app/mixin";

.header {
  min-width: 100%;
  min-height: 170px;

  background-color: $background-color;

  @include media-767 {
    min-height: 100px;
  }
}

.header__content {
  margin: 0px auto;
  max-width: 1680px;
  min-height: 170px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  border-bottom: 1px solid $border-color;

  @include media-1679 {
    max-width: 1280px;
  }

  @include media-1439 {
    max-width: 768px;
  }

  @include media-1023 {
    max-width: 680px;
  }

  @include media-767 {
    max-width: 290px;
    min-height: 100px;
  }
}
