@import "../../app/variables.module.scss";
@import "../../app/mixin";

.nav {
  &__link {
    margin-left: 32px;

    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    color: $white;

    @include hover {
      color: $light-blue;
    }

    @include media-1439 {
      margin-left: 0;
      margin-top: 36px;

      font-size: 32px;
      line-height: 20px;
    }
  }

  &__link_active {
    color: $light-blue;
  }
}
