@import "../../app/variables.module.scss";

.footer {
  min-width: 100%;
  min-height: 170px;

  padding-top: 128px;

  background-color: $background-color;
}

.footer__content {
  margin: 0px auto;
  max-width: 1664px;
  min-height: 170px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  border-top: 1px solid $border-color;
}

.footer__copyright {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: $white;
}

.footer__copyright_type_color {
  color: $light-blue;
}
