@import "../../app/variables.module.scss";
@import "../../app/mixin";

.searchform {
  margin: 0px 64px;

  display: flex;
  align-items: center;

  @include media-1439 {
    margin-top: 64px;
  }
}

.search {
  position: relative;
}

.search__input {
  min-width: 204px;
  min-height: 32px;

  box-sizing: border-box;
  padding-left: 10px;

  border: none;
  border-radius: 24px;
}

.search__btn {
  position: absolute;
  right: 16px;
  top: 6px;

  background-image: url(../../images/icon-search.svg);
  background-repeat: no-repeat;
  background-position: left;

  width: 20px;
  height: 20px;

  border: none;
  background-color: transparent;
}

.search__btn:hover {
  opacity: 0.7;
  cursor: pointer;
}
