@import "../../app/variables.module.scss";

.aboutme {
  background-color: $background-color-black;
  background-image: url(https://s3-alpha-sig.figma.com/img/470c/a001/abefb91f7690b614bdee7956296b0d43?Expires=1703462400&Signature=pq5SLWUutTBcqbj9TaTzaiH0kf7--bqcEKyAv5UdlsuTJpBzGYODVN303CU5RpQCW2fRr9rNwKyCdIBTwZviGJok1yib9uQiEsErZ6QquBw7ypwB~Nm7GB98PmMW0RvsNr6YYJCcLnnBUj0~1jBCDt4PucLJ8O2NcciGCQMr21H7CN-mUeDjAeEa6vk5otaHX6Jojsm41EIMpUUI-lmrOkCAd~IovTO2KLzar~lZNTMyZkbP86rPhVRRUq22wjZ7-T47lbF91GxoImjva90hyRS8DiIlJ37pKfnL3fRiUg~PlgEtgZWIXDdMPVrxWGktRXbqJB4K6ua5SBWyWxuOEw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4);
  background-repeat: no-repeat;
  background-size: cover;

  position: relative;
  display: flex;
}

.aboutme::before {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  content: "";
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.aboutme__conteiner {
  min-height: 556px;
  min-width: 1664px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 128px;
  padding-bottom: 128px;

  position: relative;
  z-index: 2;

  display: flex;
  justify-content: space-between;
}

.aboutme__profile {
}

.aboutme__title {
  width: 367px;
  height: 104px;
  margin-bottom: 64px;

  border: 4px solid $brand-aqamarin;
  border-radius: 40px 0px;
  background-color: $background-color-grey;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 64px;
  font-weight: 400;
  line-height: 72px;
  color: $white;
}

.aboutme__description {
  padding: 24px 40px;
  max-width: 980px;

  border-radius: 40px;

  background-color: $background-color-grey;
}

.aboutme__text {
  padding-top: 16px;

  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  color: $white;
}

.aboutme__text_type_code {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: $brand;
}

.aboutme__text_type__title {
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
}

.aboutme__text_type__color {
  color: $brand-aqamarin;
}

.aboutme__user-photo {
  border-radius: 16px;
}
