@import "../../app/variables.module.scss";

.aboutme {
  max-width: 1664px;

  margin: 0px auto;
}

.aboutme__conteiner {
  padding-top: 64px;
  padding-bottom: 128px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutme__title {
  font-size: 117px;
  font-weight: 400;
  line-height: 134px;
  color: $brand;
}

.aboutme__content {
  margin: 0px auto;
  padding-top: 64px;

  display: flex;
}

.aboutme__contacts {
  min-width: 320px;
}

.aboutme__info {
  padding-left: 128px;
  min-width: 960px;
}

.aboutme__text-header {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: $brand;
}

.aboutme__name-text {
  padding-left: 16px;

  font-size: 64px;
  font-weight: 400;
  line-height: 72px;
  color: $white;
}

.aboutme__text_colored_brand-aqamarin {
  color: $brand-aqamarin;
}

.aboutme__description {
  padding-top: 32px;
}

.aboutme__description-text {
  padding: 16px 24px;

  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: $white;
}

.aboutme__contact {
  padding-top: 16px;
  padding-left: 24px;

  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  color: $brand-aqamarin;

  display: flex;
  align-items: center;
}

.aboutme__contact-btn {
  margin-left: 16px;

  width: 40px;
  height: 40px;

  background-image: url(../../images/icon-mail.svg);
  background-repeat: no-repeat;
  background-position: center;

  background-color: $grey;
  border: none;
  border-radius: 40px;
}

.aboutme__contact-btn:hover {
  opacity: 0.7;
  cursor: pointer;
}
